@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Oh god, what have I done!</h1>
    <p>Version: @(System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription)</p>

</div>
